/* Body Styles */
body {
  margin: 0;
  background-color: rgb(206, 231, 238);
  font-family: 'Montserrat', sans-serif;
}

/* Banner Styles */
.banner {
  max-height: 300px;
  background-image: url('assets/banner2.jpg');
  background-color: rgb(7, 25, 27);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 245, 245);
  padding: 80px 200px 10px 0px; /* Right aligned with padding */
}

.banner-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  font-family: 'Roboto', sans-serif; /* Subtitles in Roboto */
}

.banner-links span {
  color: inherit;
  text-decoration: none;
  margin: 0 5px;
}

/* Menu Styles */
.menu {
  background-color: rgb(7, 25, 27);
  color: rgb(55, 245, 245);
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.menu a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: rgb(55, 245, 245);
  color: rgb(7, 25, 27);
}

/* Dropdown Menu Styles */
.menu .dropdown {
  position: relative;
  top: 16px;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  top: 36px;
  background-color: rgb(7, 25, 27);
  color: rgb(55, 245, 245);
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Lato', sans-serif;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

.menu .dropdown-content a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
}

.menu .dropdown-content a:hover {
  background-color: rgb(55, 245, 245);
  color: rgb(7, 25, 27);
}

.menu .dropdown:hover > .menu-link {
  background-color: rgb(55, 245, 245);
  color: rgb(7, 25, 27);
}

/* Card Styles */
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  box-sizing: border-box;
  height: auto;
  margin: 20px auto;
  overflow-y: auto;
  font-family: 'Merriweather', serif;  /* Apply Merriweather to form-card */
}

.card-title {
  text-align: left;
  color: #333;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.linked_text {
  color: rgb(7, 25, 27);
}